@import 'public/stylus/index'

table, th, td
  border solid black
  border-collapse collapse
  boder-style solid
  border-width 1px
  padding .5em
  vertical-align top

nav
  background-color secondary
  color tertiary
  border-radius()

a
  padding 0
  margin 10px

button
  margin 10px
  font-size 1.2em
  background-color rgba(white, 1)
  border-style outset black
  padding 5px
  cursor pointer
  border-radius()
  &:hover
    background-color rgba(white, 0.7)
    border-style inset

.dateNum
  display flex
  justify-content flex-end
  font-weight bold
  font-size 20px

@media tablet_and_desktop
  nav
    display flex
    background-color primary
    color secondary
    border-radius()

