main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
}
th {
  background-color: #ebedef;
}
td {
  cursor: pointer;
}
table,
th,
td {
  border: solid #000;
  border-collapse: collapse;
  boder-style: solid;
  border-width: 1px;
  padding: 0.5em;
  vertical-align: top;
}
nav {
  background-color: #d1bc47;
  color: #e8dda3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
a {
  padding: 0;
  margin: 10px;
}
button {
  margin: 5px;
  font-size: 1.2em;
  background-color: #fff;
  border-style: outset;
  padding: 5px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
button:hover {
  background-color: rgba(255,255,255,0.7);
  border-style: inset;
}
.dateNum {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 20px;
}
@media only screen and (min-width: 481px) {
  nav {
    display: flex;
    background-color: #475cd1;
    color: #d1bc47;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}
